.side-nav {
    width: 240px;
    background-color:#171717; 
    box-shadow:rgba(0,0,0,.2) 0 8px 10px -5px,rgba(0,0,0,.14) 0 16px 24px 2px,rgba(0,0,0,.12) 0 6px 30px;
    @apply p-2.5 overflow-x-hidden;
    
  
    &.side-nav--simple {
        width: 85px;
        .side-menu {
            .side-menu__title {
                @apply hidden;
                .side-menu__sub-icon {
                    @apply hidden;
                }
            }
            &:not(.side-menu--active) .side-menu__icon:before {
                @apply hidden;
            }
        }
    }
    .side-nav__devider {
        @apply w-full h-px bg-white/[0.08] z-10 relative dark:bg-white/[0.07];
    }
    .side-menu {
    
        @apply flex items-center px-2 py-1.5 text-white mb-1 relative rounded-full dark:text-slate-300;
        .side-menu__title {
            @apply w-full ml-3 flex items-center justify-between;
            .side-menu__sub-icon {
                @apply transition ease-in duration-100;
                
            }
            
        }
    }
    > ul {
        @for $i from 1 through 50 {
            > li:nth-child($i) {
                &.side-nav__devider {
                    @apply opacity-0;
                    animation: 0.4s
                        intro-devider-animation
                        ease-in-out
                        0.33333s;
                    animation-fill-mode: forwards;
                    animation-delay: calc($i * 0.1s);
                }
                & > a {
                    &:not(.side-menu--active) {
                        @apply opacity-0;
                        transform: translateX(50px);
                        animation: 0.4s
                            intro-menu-animation
                            ease-in-out
                            0.33333s;
                        animation-fill-mode: forwards;
                        animation-delay: calc($i * 0.1s);
                    }
                    &.side-menu--active {
                        animation: 0.4s
                            intro-active-menu-animation
                            ease-in-out
                            0.33333s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
        ul {
            @for $i from 1 through 50 {
                li:nth-child($i) {
                    & > a {
                        @apply opacity-0;
                        transform: translateX(50px);
                        animation: 0.2s
                            intro-submenu-animation
                            ease-in-out
                            0.33333s;
                        animation-fill-mode: forwards;
                        animation-delay: calc($i * 0.1s);
                    }
                }
            }
            @apply hidden bg-black/10 rounded-lg dark:bg-darkmode-900/30;
            &.side-menu__sub-open {
                @apply block;
            }
            .side-menu__icon:before {
                @apply hidden;
            }
            li a {
                &:not(.side-menu--active) {
                    @apply text-white;
                }
                &.side-menu--active .side-menu__title {
                    @apply font-medium;
                }
            }
            ul {
                @apply hidden dark:bg-darkmode-900/30;
            }
        }
        & > li {
            & > .side-menu {
                &.side-menu--active {
                    
                    .side-menu__icon {
                        @apply text-primary dark:text-slate-300;
                        
                    }
                    .side-menu__title {
                        @apply text-white font-medium dark:text-slate-300;
                    }
                }
                .side-menu__icon {
                    @apply dark:text-slate-400;
                }
                .side-menu__title {
                    @apply dark:text-slate-400;
                }
               
                &:hover:not(.side-menu--active):not(.side-menu--open)
                    .side-menu__icon:before {
                    @apply bg-white/5 dark:bg-darkmode-500/70;
                }
            }
        }
    }
}

@keyframes intro-devider-animation {
    100% {
        @apply opacity-100;
    }
}

@keyframes intro-menu-animation {
    100% {
        @apply opacity-100;
        transform: translateX(0px);
    }
}

@keyframes intro-submenu-animation {
    100% {
        @apply opacity-100;
        transform: translateX(0px);
    }
}

@keyframes intro-active-menu-animation {
    100% {
        @apply z-10;
    }
}
